_normalize.py
_scan.py
_sort.py
files_generator.py
Homeworks/add_info.py
Homeworks/mod_3.py
Homeworks/mod_4.py
Homeworks/mod_5.py
Homeworks/mod_6.py
Homeworks/mod7.py
numbers.txt
Homeworks/clean_folder/clean_folder/__pycache__/__init__.cpython-311.pyc
Homeworks/clean_folder/clean_folder/__pycache__/clean.cpython-311.pyc
mod8.py
